@mixin header-button {
  appearance: none;
  outline: none;
  background-color: var(--clr-ink-10);
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:disabled) {
    cursor: pointer;
  }

  transition: background-color 0.05s;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-ink-20);
  }
  &:active {
    background-color: var(--clr-ink-30);
  }
  &:disabled {
    background-color: transparent;
    opacity: 0.5;
  }
}
@mixin editor-button {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;

  &::after {
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  &:hover,
  &:focus-visible {
    &::after {
      background-color: var(--clr-ink-10);
    }
  }
  &:active {
    &::after {
      background-color: var(--clr-ink-20);
    }
  }
  &:disabled {
    &::after {
      background-color: transparent;
    }
    opacity: 0.5;
  }
}
