@use "css-template/import" as template;

dialog {
  --dialog-max-width: 25rem;
  border: none;
  border-radius: 0.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 3rem var(--clr-shadow-20);
  background-color: var(--clr-paper-30);
  &::backdrop {
    background-color: var(--clr-shadow-20);
  }
}

#new-timetable-dialog {
  @include template.no-select;
  padding: 1rem;
  width: min(90vw, var(--dialog-max-width));
  h1 {
    color: var(--clr-ink-100);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    margin-top: 0.25rem;
  }
  h2 {
    color: var(--clr-ink-100);
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
  }
  > .row {
    @include template.row;
    margin-right: -0.5rem;
    justify-content: end;
  }
  button {
    @include template.btn-filled-neutral;
    @include template.content-text;
    height: 2rem;
    margin-right: 0.5rem;
    p {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 0.85rem;
    }
  }
  #new-timetable-dialog-submit {
    @include template.btn-filled;
  }
  .select-wrapper {
    @include template.select-filled-neutral;
    margin-bottom: 1rem;
    select {
      height: 2rem;
      padding-left: 1rem;
      padding-right: 1.5rem;
      font-size: 0.85rem;
    }
    .select-arrow {
      margin-right: 0.25rem;
    }
  }
  input {
    @include template.input-filled-neutral;

    height: 2rem;
    font-size: 0.85rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  > p {
    font-size: 0.85rem;
    margin-bottom: 0.75rem;
  }
  #new-timetable-dialog-error {
    color: var(--clr-error-text);
    margin-bottom: 1.25rem;

    &:empty {
      display: none;
    }
  }
}

#paste-issues-dialog {
  @include template.no-select;
  padding: 1rem;
  width: min(90vw, var(--dialog-max-width));
  h1 {
    color: var(--clr-ink-100);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    margin-top: 0.25rem;
  }
  h2 {
    color: var(--clr-ink-100);
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
  }
  > .row {
    @include template.row;
    margin-right: -0.5rem;
    justify-content: end;
  }
  button {
    @include template.btn-filled-neutral;
    @include template.content-text;
    height: 2rem;
    margin-right: 0.5rem;
    p {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 0.85rem;
    }
  }
  #paste-issues-dialog-submit {
    @include template.btn-filled;
  }
  > p {
    font-size: 0.85rem;
    margin-bottom: 0.75rem;
  }
  .select-wrapper {
    @include template.select-filled-neutral;
    margin-bottom: 1rem;
    select {
      height: 2rem;
      padding-left: 1rem;
      padding-right: 1.5rem;
      font-size: 0.85rem;
    }
    .select-arrow {
      margin-right: 0.25rem;
    }
  }
}
