@use "css-template/import" as css-template;
@use "picker-tab";
@use "button";

$header-size: 2.5rem;

#header {
  @include css-template.row;
  height: $header-size;
  box-shadow: inset 0 -0.5rem 1rem 0 var(--clr-ink-10);

  > * {
    margin-right: 0.5rem;
  }
  > :first-child {
    margin-left: 0.5rem;
  }
  button {
    @include button.header-button;
    flex-shrink: 0;
    height: 1.5rem;
    p {
      font-size: 0.7rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
#sections {
  @include css-template.row;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow-x: auto;
  scrollbar-width: thin;
  align-items: stretch;
  height: $header-size;
  border-right: 1px solid var(--clr-ink-20);

  .section-group {
    @include css-template.row;
    border-left: 1px solid var(--clr-ink-20);
    flex-shrink: 0;
    align-items: stretch;
  }
  .section-group-header {
    @include css-template.row;
    padding: 0 0.5rem;
    p {
      font-size: 0.7rem;
    }
    font-size: 0.7rem;
  }
  .picker-tab {
    align-items: stretch;
  }
  .picker-tab-content {
    @include css-template.row;
    padding: 0 0.5rem;
    p {
      color: var(--clr-ink-60);
      font-size: 0.7rem;
    }
  }
}
