@use "css-template/import" as template;
@use "tab";

$header-size: 2.5rem;

#header {
  @include template.row;
  height: $header-size;
  box-shadow: inset 0 -0.5rem 1rem 0 var(--clr-shadow-10);

  > * {
    margin-right: 0.5rem;
  }
  > :first-child {
    margin-left: 0.5rem;
  }
  button {
    @include template.btn-filled-neutral;
    @include template.content-text;
    height: 1.5rem;
    p {
      font-size: 0.7rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
#tabs {
  @include template.row;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow-x: auto;
  scrollbar-width: thin;
  align-items: stretch;
  height: $header-size;
  border-left: 1px solid var(--clr-ink-20);
  border-right: 1px solid var(--clr-ink-20);

  .tab-group {
    @include template.row;
    align-items: stretch;
  }
  .tab-group:not(:first-child) {
    border-left: 1px solid var(--clr-ink-20);
  }
  .tab-group-header {
    @include template.row;
    padding: 0 0.5rem;
    p {
      font-size: 0.7rem;
    }
    font-size: 0.7rem;
  }
  .tab {
    align-items: stretch;
  }
  .tab-content {
    @include template.row;
    padding: 0 0.5rem;
    p {
      color: var(--clr-ink-60);
      font-size: 0.7rem;
    }
  }
}
