// [SELECT STRUCTURE] Must have wrapper div and wrapper highlight as the
// following sibling to work.
//
// <div class="select-wrapper">
//   <select id="new-timetable-dialog-days" autocomplete="off">
//     <option>Mon-Thu, Fri, Sat, Sun</option>
//     <option>Mon-Fri, Sat, Sun</option>
//     <option>Mon-Sun</option>
//     <option>Mon, Tue-Thu, Fri, Sat, Sun</option>
//     <option>Mon, Tue-Fri, Sat, Sun</option>
//     <option>Mon, Tue, Wed, Thu, Fri, Sat, Sun</option>
//   </select>
//   <div class="select-wrapper-highlight"></div>
// </div>

@mixin dialog-select-wrapper {
  position: relative;

  select {
    appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    color: var(--clr-ink-80);
    cursor: pointer;

    font-family: var(--font-default);
    font-size: 1rem;

    option {
      color: black;
    }
  }
  @-moz-document url-prefix() {
    select {
      text-indent: -0.13rem;
    }
  }

  .select-wrapper-highlight {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-ink-10);
    border-radius: 0.25rem;
    transition: background-color 0.05s;
  }
  .select-wrapper-arrow {
    pointer-events: none;
    mask-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-color: var(--clr-ink-80);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  select:is(:hover, :focus-visible) + .select-wrapper-highlight {
    background-color: var(--clr-ink-20);
  }
  select:active + .select-wrapper-highlight {
    background-color: var(--clr-ink-30);
  }
}
