@use "css-template/import" as template;
@use "fonts";
@use "header";
@use "dialog";
@use "toasts";

html,
body {
  @include template.no-select;
  height: 100%;
  overflow: hidden;
}

.gone {
  @include template.gone;
}

// Test dark mode styles (even though dark mode probably won't be used here):
// @include template.dark;

:root {
  --font-default: "Poppins", sans-serif;
  --clr-light-accent: #00a5ca;

  // Should be added to css-template project in future.
  --clr-error-text: #a52121;
}

$editor-stops-col-size: max(6rem, 10vw);
$editor-services-row-size: 2rem;
$editor-row-height: 1.25rem;
$editor-column-width: 3rem;

#editor {
  @include template.bg-paper-20;
  position: relative;
  display: grid;
  grid-template-columns: $editor-stops-col-size 1fr;
  grid-template-rows: $editor-services-row-size 1fr;

  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  overflow: scroll;

  > * {
    flex-shrink: 0;
  }
}

#corner {
  @include template.bg-paper-30;
  grid-row: 1;
  grid-column: 1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid var(--clr-ink-20);
  border-right: 1px solid var(--clr-ink-20);
}
#services {
  @include template.bg-paper-30;
  @include template.row;
  grid-row: 1;
  grid-column: 2;
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: stretch;
  border-bottom: 1px solid var(--clr-ink-20);
}
#stops {
  @include template.bg-paper-20;
  grid-row: 2;
  grid-column: 1;
  position: sticky;
  left: 0;
  z-index: 1;
  border-right: 1px solid var(--clr-ink-20);

  * {
    font-family: "Roboto Mono", monospace;
  }
}
#grid {
  position: relative;
  z-index: 0;
  grid-row: 2;
  grid-column: 2;
  align-items: flex-start;
  justify-content: flex-start;
}
#grid-canvas {
  position: absolute;
}

#stops .stop {
  @include template.btn-hover;
  --btn-rounding: 0;

  @include template.one-line;
  @include template.row;
  height: $editor-row-height;
  p {
    margin: 0 0.5rem;
    font-weight: bold;
    font-size: 0.7rem;
  }
  &.error {
    border-right: 2px solid var(--clr-error-text);
    p {
      color: var(--clr-error-text);
    }
  }
}
#stops .stop:nth-child(2n + 1) {
  @include template.bg-paper-10;
}
#services .service {
  @include template.btn-hover;
  --btn-rounding: 0;

  @include template.row;
  justify-content: center;
  width: $editor-column-width;
  padding-left: 0.25rem;
  img {
    opacity: 60%;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.25rem;
  }
  &.error {
    border-bottom: 2px solid var(--clr-error-text);
  }
}
#status {
  z-index: 0;
  grid-row: 2;
  grid-column: 2;
  align-items: center;
  justify-content: center;

  > div {
    align-items: center;
    margin: 2rem;
  }
  p,
  h1 {
    text-align: center;
  }
  #status-loading p {
    font-size: 0.85rem;
  }
  #status-ready h1 {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  #status-ready p {
    font-size: 0.7rem;
  }
}

#footer {
  @include template.bg-paper-30;
  @include template.row;
  height: 1.5rem;
  border-top: 1px solid var(--clr-ink-20);
  flex-shrink: 0;
  p {
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
  p.error {
    color: var(--clr-error-text);
    font-weight: bold;
  }
}
